/* Reset default browser styles */
html, body {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F0F0F0; /* Light Gray background */
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Header styles */
header {
    background-color: #00798C; /* Dark Cyan */
    padding: 10px;
    text-align: right;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #FFF; /* White */
    text-decoration: none;
}

/* Section styles */
section {
    padding: 20px 0;
    text-align: center;
    width: 120%;
    max-width: 800px;
    background-color: #FFF; /* White */
    border-radius: 10px;
    margin-bottom: 20px;
}

section h1 {
    margin-bottom: 10px;
    color: #FF5A5F; /* Reddish Pink */
}

.details {
    margin-top: 20px;
}

.profile-photo {
    width: 200px; /* Adjust the size of the photo */
    border-radius: 50%; /* Make it circular if it's a portrait photo */
    /* Add other styling if needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* ... (Your existing CSS code) */

.certificate {
    width: 300px; /* Adjust the size of the certificates */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding shadow to certificates */
    margin: 10px; /* Adjust margin for better spacing */
    border-radius: 8px; /* Rounded corners for certificates */
    display: inline-block; /* Align certificates horizontally */
    vertical-align: top; /* Align certificates at the top */
    /* Add other styling if needed */
}


/* Footer styles */
footer {
    background-color: #00798C; /* Dark Cyan */
    padding: 10px;
    text-align: center;
    color: #FFF; /* White */
    width: 100%;
}
